// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// CREATE MEDIA QUERY :
/*
phone : 600px : 37.5em
sm-tab : 600px - 800px
tab-port : 600px-1000px :62.5em
tab-land :1000px - 1200px :75em
big desktop : 2000px ++ :125em
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == "phone") {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint == "sm-tab") {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }
  @if ($breakpoint == "port-tab") {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
  @if ($breakpoint == "land-tab") {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == "big-desk") {
    @media only screen and (min-width: 125em) {
      @content;
    }
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include respond(big-desk) {
    font-size: 95%;
  }
  @include respond(land-tab) {
    font-size: 56.5%;
  }
  @include respond(port-tab) {
    font-size: 52.5%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
}

.container {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 80vh auto 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-grid-start] minmax(6rem, 1fr)
    [grid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [grid-end] minmax(6rem, 1fr) [full-grid-end];

  @include respond(port-tab) {
    grid-template-rows: [sidebar] 6rem [end-sidebar] 80vh auto 40vw repeat(
        3,
        min-content
      );
    grid-template-columns:
      [full-grid-start] minmax(6rem, 1fr)
      [grid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [grid-end] minmax(6rem, 1fr) [full-grid-end];
  }
  @include respond(sm-tab) {
    grid-template-rows:
      [sidebar] 6rem [end-sidebar] calc(100vh - 6rem) repeat(2, auto)
      repeat(4, min-content);
    grid-template-columns:
      [full-grid-start] minmax(6rem, 1fr)
      [grid-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [grid-end] minmax(6rem, 1fr) [full-grid-end];
  }
}
