.footer {
  grid-column: full-grid-start / full-grid-end;
  background-color: $color-secondary;
  color: $color-grey-light-2;
  font-size: 1.4rem;
  padding: 10rem;
  text-align: center;
  &__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    list-style-type: none;
    align-items: center;
    margin-bottom: 6rem;
  }
  .nav__item {
    text-align: center;
    transition: all 0.2s linear;
    &:hover,
    &:active {
      transform: translateY(-2px) scale(1.05);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1.5rem;
  }
  &__copyright {
    width: 75%;
    margin: 0 auto;
  }
}
