.header {
  grid-column: full-grid-start / col-end 6;
  background: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr repeat(
      2,
      min-content
    );
  padding: 7.5rem;
  padding-top: 3.75rem;

  @include respond(sm-tab) {
    grid-column: 1 / -1;
  }
}
.logo-box {
  place-self: start center;
  .logo {
    height: 3rem;
  }
}
.see__logo-company {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr max-content 1fr;
  color: $color-grey-light-2;
  &::before,
  &::after {
    justify-self: stretch;
    content: "";
    height: 1px;
    background-color: currentColor;
  }
}
.logo-company__list {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-items: center;
}
.company-img {
  opacity: 0.7;
  // or
  // filter: brightness(70% );
  max-height: 2.5rem;
  max-width: 100%;
}
