.testimonials {
  &__img {
    grid-column: full-grid-start / col-end 4;
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.55),
        rgba($color-primary, 0.55)
      ),
      url("../img/back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    grid-template-columns:
      [start-grid-col] 1fr [start-center-col] repeat(
        4,
        [start-col] 1fr [end-col]
      )
      [end-center-col] 1fr [end-grid-col];
    grid-template-rows:
      [start-grid-row] 1fr [start-center-row] repeat(
        4,
        [start-row] 1fr [end-row]
      )
      [end-center-row]
      1fr [end-grid-row];
    .img-testimonials--1 {
      grid-column: start-center-col / end-center-col;
      grid-row: start-center-row / end-center-row;

      width: 100%;
    }
    .img-testimonials--2 {
      width: 115%;
      box-shadow: 0 0 2.5rem rgba(#000000, 0.4);
      grid-column: end-col 2 / end-grid-col;
      grid-row: end-row 1 / end-grid-row;
      position: relative;
      z-index: 1;
    }
  }
  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-end 4 / full-grid-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem 8vw;
    .heading-2--testimonials {
      margin-bottom: 1rem;
    }
    p {
      font-style: italic;
      font-size: 1.5rem;
      margin: 3rem 0 4rem;
    }
    .btn {
      padding: 1.8rem 3rem;
    }
  }
}

@include respond(sm-tab) {
  .testimonials {
    &__img {
      grid-column: 1 / -1;
      grid-row: 6 / 7;

      grid-template-columns:
        [start-grid-col] 1fr [start-center-col] repeat(
          4,
          [start-col] 1fr [end-col]
        )
        [end-center-col] 1fr [end-grid-col];
      grid-template-rows:
        [start-grid-row] 2fr [start-center-row] repeat(
          4,
          [start-row] 1fr [end-row]
        )
        [end-center-row]
        2fr [end-grid-row];
    }
    &__content {
      background-color: $color-grey-light-1;
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
  }
  .img-testimonials--2 {
    width: 85% !important;
    grid-row: 3 / 5 !important;
  }
} ;
